.button {
  text-align: center;  
  width: 30rem;
  height: 5rem;  
  margin-bottom: 3rem;
}

.button Button {
  margin: 1.4rem;
  background-color: #5F7A61;
  color: white;
}

.button Button:hover {
  background-color: #969996;
}

.button Button:active Button:checked{
  background-color: #5F7A61;
}



.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {    
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  height: 60%;
  width: 100%;
  text-align: center;
}

.content img {
  height: 35rem;
  width: auto;
  /* width: 30rem; */
  /* height: 85%;   */
}



.footer {
  background-color: #5F7A61;
  position: absolute;  
  bottom: -5rem;  
  height: 4rem;
  width: 100%;
  text-align: center;
}

.footer a {
  margin-left: 0.2rem;
  text-decoration: none;
  color: #D5EEBB;
}

.footer p {
  display: inline-block;
  margin-top: 1.2rem;
  color: #D5EEBB;
}



.navbar {
  background-color: #5F7A61;
}